body {
    background-color: rgb(111, 0, 111);
    width: 1000px;
    margin:5px auto;
}

h3 {
    font-size: 4.5em;
}

span.label {
    font-size: 2.5em;
}

.btn {
    font-size: 2.5em;
}

button {
    margin: 5 auto;
}

h4.gpio {
    margin:20 auto;
    font-size: 2.5em;
}

.well {
    width: 100%;
}

.well-sm {
    margin: 10px auto;
}

.panel {
    background-color: darkgray;
    width: 85%;
    text-align: center;
}
